.page_detall {
	.main__content {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.title-marca {
		font-size: 1rem;
		margin-bottom: 1rem;
	}
	.main__estado {
		font-size: 1rem;
		font-weight: bold;
	}
}
