#map-canvas {
	height: 20rem;
}

.page-footer {
	position: relative;
	z-index: 8;
	color: white;
	background-color: black;
}

.page-footer-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	@media (max-width: $query__small) {
		flex-direction: column-reverse;
	}
	&-links {
		display: block;
		padding: 1rem 1.5rem;
		columns: 3;
		@media (max-width: $query__small) {
			columns: 1;
			text-align: center;
		}
		a {
			font-size: 1.1rem;
			display: block;
			margin-bottom: 1rem;
		}
	}
}
