.form__item {
	width: 100%;
	margin-bottom: 1rem;
	padding: 1rem;
	border: 0;
	transition: all 200ms ease-in-out;
	font-size: 16px;
	&:last-child {
		margin-bottom: 0;
	}
	&:focus {
		background-color: #f7f7f7;
		border-color: tomato;
		box-shadow: 0 0em 0.3em rgba(0,0,0,.2);
	}
	.page_contacto &--textarea {
		min-height: 8rem;
	}
}

.form__item--input,
.form__item--select,
.form__item--textarea {
	border: .05rem solid lightgray;
	background-color: whitesmoke;
}

.form__item--select {
	display: block;
	padding: 0;
	position: relative;
}

.form__item--select::after {
	pointer-events: none;
	color: black;
	position: absolute;
	right: 1rem;
	top: 1.6rem;
}

.form__item--select select {
	width: 100%;
	padding: 1rem;
	appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
	border: 0;
	border-radius: 0;
}

.form__item--textarea {
	height: calc(100% - 1rem);
}
