.media-frame {
	overflow: hidden;
	background-color: black;
	height: 27.3rem;
	@media (max-width: $query__medium) {
		padding-top: 75%;
		height: auto;
	}
}

.media-carousel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	img,
	video {
		// width: auto !important;
		// max-width: 100%;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		@media (max-width: $query__medium) {
			width: 100%;
		}
	}
	video {
		max-width: none;
		height: 100%;
	}
	.owl-nav {
		.owl-prev,
		.owl-next {
			display: flex;
			align-items: center;
			position: absolute;
			top: 0;
			opacity: 0;
			color: white !important;
			font: normal normal normal 14px/1 FontAwesome !important;
			font-size: 1.5rem;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			line-height: 0;
			transition: all 500ms ease-in-out;
			bottom: 0;
			&::before {
				font-size: 2rem;
				padding: 1rem .5rem 1rem 1rem;
			}
		}
		.owl-prev {
			&::before {
				content: '\f053';
			}
			left: 0;
			// background: linear-gradient(to right, rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 100%);
		}
		.owl-next {
			&::before {
				content: '\f054';
			}
			right: 0;
			// background: linear-gradient(to left, rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 100%);
		}
	}
}

.media-frame .media-carousel img,
.media-frame .media-carousel video {
	width: auto;
	height: 100%;
	margin: auto;
}

.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item {
	position: relative;
	height: 100%;
}

.media-carousel:hover .owl-nav .owl-prev,
.media-carousel:hover .owl-nav .owl-next {
	opacity: 1;
}

.media-carousel:hover .owl-nav .owl-prev.disabled,
.media-carousel:hover .owl-nav .owl-next.disabled {
	opacity: 0;
}

.media-thumbs {
	display: flex;
	opacity: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 1;
	background: linear-gradient(to top, rgba(0,0,0,.8) 0%,rgba(0,0,0,0) 100%);
	transition: all 500ms ease-in-out;
}

.media-zoom {
	color: white;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: opacity 200ms ease-in-out;
	z-index: 2;
}

.content__media:hover .media-zoom {
	opacity: 1;
}

.media-thumbs:hover {
	opacity: 1;
	@media (max-width: $query__small) {
		opacity: 0;
	}
}

.media-carousel .media-frame img {
	width: 100% !important;
	height: auto;
}

@media (max-width: $query__small) {

	// .media-carousel img {
	// 	height: 70vw;
	// }

	.media-carousel .owl-nav {
		display: none;
	}

}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}