.selector-idioma {
	white-space: nowrap;
	color: inherit;
   & &__item {
   	text-transform: uppercase;
   	color: inherit;
      &:hover {
      	color: inherit;
      	text-decoration: underline;
      }
      &--active {
      	text-decoration: underline;
      }
	 }
	&_hero {
		position: absolute;
		top: 1rem;
		right: 1rem;
		color: white;
		z-index: 100;
	}
}
