.alert {
        position: relative;
        z-index: 2;
   margin-top: .5rem;
   font-weight: bolder;
   padding: 1.5em 1em;
   > * {
      color: inherit;
   }
   &__container {
           display: flex;
           align-items: center;
           justify-content: space-between;
           @media (max-width: $query__medium) {
                flex-direction: column;
           }
   }
   &__title {
      margin-bottom: 1em;
   }
   &__list {
      font-size: .9em;
      padding-left: 1rem;
      li {
         margin-bottom: 1rem;
      }
   }
   &__button {
           overflow: visible;
           @media (max-width: $query__medium) {
                width: 100%;
           }
   }
   &__text {
           padding: 1rem;
           @media (max-width: $query__medium) {
                padding: 0;
           }
   }
   &_success {
      color: white;
      background-color: greenyellow;
   }
   &_danger {
      color: white;
      background-color: coral;
   }
   &_financiacion {
      display: none;
      .alert__title {
         display: inline-block;
         font-weight: lighter;
         font-size: 3rem;
      }
   }
   &_fixed {
           display: none;
           margin-top: 0;
           position: fixed;
           bottom: 0;
           left: 0;
           right: 0;
           background-color: rgba(255,255,255,.9);
           z-index: 10;
           box-shadow: $box-shadow__default;
   }
}
